extends ../layout
block content
  h1 Patron: Return Book
  p
    strong Book Title: 
    | #{book.title}
  p
    strong Loaned By: 
    | #{name}
  p
    strong Loaned On: 
    | #{loan.loaned_on}
  p
    strong Return By: 
    | #{loan.return_by}
  form(action="/loans/update/"+loan.id+'/'+book.id+'/'+name+'/'+loan.loaned_on , method="post")
    p
      label(for='returned_on') Returned on:
      input#returned_on(type='text', value='#{date}', name='returned_on')
    p
      input(type='submit', value='Return Book')
