extends ../layout
block content
  h1 Loans
  p
    a.button(href='/loans/new') Create New Loan
  p
    | Filters 
    a(href='/loans/all') All
    | |
    a(href='/loans/overdue') Overdue
    | |
    a(href='/loans/checked_out') Checked Out
  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
      for loan in loans
        tr
          td
            a(href='book_detail.html') #{loan.book_title}
          td
            a(href='patron_detail.html') #{loan.patron_name}
          td #{loan.loaned_on}
          td #{loan.return_by}
          td #{loan.returned_on}
          td
            if !loan.returned_on
              a.button(href='/books/return_book/#{loan.book_id}/#{loan.patron_name}') Return Book